body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f6f2;
   padding-top: 60px;
}

h1, h2, h3 {
  color: #703B3B;
}

button {
  background-color: #703B3B;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background-color: #A18D6D;
}
html {
  scroll-behavior: smooth;
}
